body {
  font-family: sans-serif;
  background: #111;
  color: #fff;
  margin: 0;
  padding: 20px;
}
 
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.card {
  background: #222;
  border-radius: 8px;
  width: 200px;
  padding: 12px;
  transition: transform 0.3s ease, background 0.3s ease;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 20px;
  border: solid 4px #333;
}

.card.expanded {
  transform: scale(1.05);
  background: #26acff;
}

.card .description {
  margin-top: 8px;
  font-size: 14px;
  display: none;
}

.card.expanded .description {
  display: block;
}

.deleteBtn{
  width: 90px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #ff2d2d;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
}

.deleteBtn:hover{
  background-color: #ffa0a0;
}

.editBtn{
  margin: 10px;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #3586ff;
  font-weight: bold;
  color: #fff;
  font-size: 13px;
}

.editBtn:hover{
  background-color: #7fb2ff;
}

.input{
  width: 150px;
  height: 20px;
  border-radius: 20px;
  padding: 10px;
  border: none;
  margin: 20px;
}


.input-error {
  border: 2px solid red;
}